@inject NavigationManager NavigationManager

<div>
    <MudAppBar Fixed="false">
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudText Typo="Typo.h5" Class="brand-text">OpenMod Plugins</MudText>
        </MudHidden>
        <MudAppBarSpacer/>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@SearchQuery"
                           Placeholder="Search"
                           Variant="Variant.Outlined"
                           Adornment="Adornment.End"
                           AdornmentIcon="@Icons.Filled.Search"
                           OnAdornmentClick="@Search"
                           OnKeyDown="@SearchFieldKeyDownEventHandler"
                           Immediate="true"
                           DisableUnderLine="true"
                           Class="search-bar"/>
        </MudItem>
        <MudAppBarSpacer/>
        <MudTooltip Text="Toggle light/dark theme">
            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@OnThemeRotateRequest"/>
        </MudTooltip>
        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5"/>
        @* todo: put github link, add tooltip *@
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"/>
    </MudAppBar>
</div>

@code {

    [Parameter]
    public EventCallback OnThemeRotateRequest { get; set; }

    public string SearchQuery { get; set; } = string.Empty;

    private void SearchFieldKeyDownEventHandler(KeyboardEventArgs args)
    {
        Console.WriteLine(args.Key);

        if (args.Key.Equals("enter", StringComparison.OrdinalIgnoreCase))
        {
            Search();
        }
    }

    private void Search()
    {
        NavigationManager.NavigateTo(SearchQuery == string.Empty ? string.Empty : "search?query=" + SearchQuery);
    }

}
