@implements IDisposable

@inject INavigator Navigator
@inject NavigationManager NavigationManager
@inject IQueryParser QueryParser

<div>
    <MudAppBar Fixed="false">
        <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
            <MudText Typo="Typo.h5" @onclick="@Navigator.Index" Class="brand-text">OpenMod Plugins</MudText>
        </MudHidden>
        <MudAppBarSpacer/>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField @bind-Value="@SearchQuery"
                           Placeholder="Search"
                           Variant="Variant.Outlined"
                           Adornment="Adornment.End"
                           AdornmentIcon="@Icons.Filled.Search"
                           OnAdornmentClick="@(() => Navigator.Search(page: 0, query: SearchQuery))"
                           OnKeyDown="@SearchFieldKeyDownEventHandler"
                           Immediate="true"
                           DisableUnderLine="true"
                           Class="search-bar"/>
        </MudItem>
        <MudAppBarSpacer/>
        <MudTooltip Text="Toggle light/dark theme">
            <MudIconButton Icon="@Icons.Material.Filled.Brightness4" Color="Color.Inherit" OnClick="@OnThemeRotateRequest"/>
        </MudTooltip>
        <MudDivider Vertical="true" FlexItem="true" DividerType="DividerType.Middle" Class="mx-4 my-5"/>
        @* todo: put github link, add tooltip *@
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"/>
    </MudAppBar>
</div>

@code {

    [Parameter]
    public EventCallback OnThemeRotateRequest { get; set; }

    public string SearchQuery { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        SetSearchQueryFromUriToTextBox();
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

    private void HandleLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        SetSearchQueryFromUriToTextBox();
    }

    private void SetSearchQueryFromUriToTextBox()
    {
        QueryParser.Search(null, out _, out string query);
        SearchQuery = query;
    }

    private void SearchFieldKeyDownEventHandler(KeyboardEventArgs args)
    {
        if (args.Key.Equals("enter", StringComparison.OrdinalIgnoreCase))
        {
            Navigator.Search(page: 0, query: SearchQuery);
        }
    }

}
