@inject IUriBuilder UriBuilder

<article class="py-4 border-b border-gray-200">
    <a href="@UriBuilder.Plugin(Plugin.Id)"
       class="inline-block text-lg font-semibold leading-none cursor-pointer text-black hover:text-red-600 transition-all">
        @Plugin.Id
    </a>

    <div class="text-base font-normal text-gray-500">
        <p class="mt-1 w-full">@Plugin.Description</p>
        <p class="flex mt-2 w-full text-sm font-normal flex-wrap">
            @foreach (var owner in Plugin.Owners)
            {
                <div class="inline-flex">
                    <img src="@($"https://www.nuget.org/profiles/" + owner + "/avatar?imageSize=20")" alt="" class="mr-2 w-5 h-5" />
                    <span class="mr-2 font-medium text-gray-900">@owner</span>
                </div>
            }

            <!-- wrapped in the div for better wrapping -->
            <div>
                <span>@("v" + Plugin.Version)</span>
                @if (Plugin.TotalDownloads != null)
                {
                    <span class="mx-1">·</span>
                    <span>@($"{Plugin.TotalDownloads:n0} downloads")</span>
                }
            </div>
        </p>
    </div>
</article>

@code
{
    [Parameter]
    public OpenMod.Plugins.Models.Plugin Plugin { get; set; } = null!;
}
