@page "/plugin"

@inject IQueryParser QueryParser
@inject IUriBuilder UriBuilder
@inject NavigationManager NavigationManager
@inject IPluginRepository PluginRepository
@inject IGitHubRepository GitHubRepository
@inject IClipboardService ClipboardService
@inject OpenMod.Plugins.Shared.PageTitle.PageTitleState PageTitleState

@if (_plugin != null)
{
    <Microsoft.AspNetCore.Components.Web.PageTitle>@_plugin.Id</Microsoft.AspNetCore.Components.Web.PageTitle>

    @if (!string.IsNullOrWhiteSpace(_plugin.Description))
    {
        <HeadContent>
            <meta name="description" content="@_plugin.Description">
        </HeadContent>
    }
}

<div class="lg:grid lg:grid-cols-4 gap-x-8 lg:my-6">
    <div class="lg:col-span-1 mb-10 sticky">
        @if (_plugin != null)
        {
            <div class="py-1">
                <span class="my-2 block font-medium text-gray-500">
                    Install
                </span>
                <div class="relative text-gray-500 hover:text-black transition-all select-none">
                    <span class="my-2 p-2 pr-7 block w-full hover:bg-green-100 border border-gray-300 text-black select-all whitespace-nowrap overflow-ellipsis overflow-hidden" @onclick="@(() => ClipboardService.CopyToClipboardAsync(GetInstallCommand()))">
                        @GetInstallCommand()
                    </span>
                    <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                        @* https://fontawesome.com/license https://fontawesome.com/v5.15/icons/copy?style=regular *@
                        <svg class="w-4 h-4 fill-current" aria-hidden="true" focusable="false" data-prefix="far" data-icon="copy" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path fill="currentColor" d="M433.941 65.941l-51.882-51.882A48 48 0 0 0 348.118 0H176c-26.51 0-48 21.49-48 48v48H48c-26.51 0-48 21.49-48 48v320c0 26.51 21.49 48 48 48h224c26.51 0 48-21.49 48-48v-48h80c26.51 0 48-21.49 48-48V99.882a48 48 0 0 0-14.059-33.941zM266 464H54a6 6 0 0 1-6-6V150a6 6 0 0 1 6-6h74v224c0 26.51 21.49 48 48 48h96v42a6 6 0 0 1-6 6zm128-96H182a6 6 0 0 1-6-6V54a6 6 0 0 1 6-6h106v88c0 13.255 10.745 24 24 24h88v202a6 6 0 0 1-6 6zm6-256h-64V48h9.632c1.591 0 3.117.632 4.243 1.757l48.368 48.368a6 6 0 0 1 1.757 4.243V112z"></path>
                        </svg>
                    </div>
                </div>
            </div>

            @if (_plugin.TotalDownloads != null)
            {
                <div class="py-1">
                    <span class="my-2 block font-medium text-gray-500">
                        Total downloads
                    </span>
                    <span class="my-2 block font-medium text-black whitespace-nowrap overflow-ellipsis overflow-hidden">
                        @string.Format("{0:n0}", _plugin.TotalDownloads)
                    </span>
                </div>
            }

            <div class="py-1">
                <span class="my-2 block font-medium text-gray-500">
                    Version
                </span>
                <span class="my-2 block font-medium text-black whitespace-nowrap overflow-ellipsis overflow-hidden">
                    @($"v{_plugin.Version}")
                </span>
            </div>

            @if (!string.IsNullOrWhiteSpace(_plugin.ProjectUrl))
            {
                <div class="py-1">
                    <span class="my-2 block font-medium text-gray-500">
                        Project website
                    </span>
                    <a href=@_plugin.ProjectUrl class="my-2 block font-medium text-black hover:underline whitespace-nowrap overflow-ellipsis overflow-hidden">
                        @_plugin.ProjectUrl.TrimStart("https://")
                    </a>
                </div>
            }

            <div class="py-1">
                <span class="my-2 block font-medium text-gray-500">
                    NuGet page
                </span>
                <a href=@GetNuGetPage() class="my-2 block font-medium text-black hover:underline whitespace-nowrap overflow-ellipsis overflow-hidden">
                    @GetNuGetPage().TrimStart("https://")
                </a>
            </div>

            <div class="py-1">
                <span class="my-2 block font-medium text-gray-500">
                    Owners
                </span>

                <div class="my-2">
                    @foreach (var owner in _plugin.Owners)
                    {
                        <div class="flex mb-2">
                            <img src="@($"https://www.nuget.org/profiles/" + owner + "/avatar?imageSize=40")" alt="" class="mr-2 w-10 h-10" />
                            <span class="font-medium text-gray-900 whitespace-nowrap overflow-ellipsis overflow-hidden" style="transform: translate(0,20%);">
                                @owner
                            </span>
                        </div>
                    }
                </div>
            </div>
        }
    </div>

    <div class="lg:col-span-3 order-first">
        @if (_pluginWasNotFound)
        {
            <p>Plugin was not found.</p>
        }
        else if (_triedLoadingMarkdown && _plugin != null)
        {
            if (!string.IsNullOrWhiteSpace(_markdown))
            {
                <Markdown Text=@_markdown />
            }
            else if (!string.IsNullOrWhiteSpace(_plugin.Description))
            {
                <p>@_plugin.Description</p>
            }
            else if (!string.IsNullOrWhiteSpace(_plugin.Summary))
            {
                <p>@_plugin.Summary</p>
            }
            else
            {
                <p>Description was not provided.</p>
            }
        }
        else
        {
            <p>Loading...</p>
        }
    </div>
</div>

@code
{
    private OpenMod.Plugins.Models.Plugin? _plugin;
    private bool _pluginWasNotFound;
    private string? _markdown;
    private bool _triedLoadingMarkdown;

    private string GetInstallCommand()
        => string.Format("om install {0}@{1}", _plugin!.Id, _plugin!.Version);

    private string GetNuGetPage()
        => string.Format(@"https://nuget.org/packages/{0}/{1}", _plugin!.Id, _plugin!.Version);

    protected override async Task OnInitializedAsync()
    {
        await LoadPluginAsync();

        if (_plugin == null)
        {
            _pluginWasNotFound = true;
            return;
        }

        PageTitleState.Title = _plugin.Id;

        await LoadMarkdownAsync();
    }

    private async Task LoadPluginAsync()
    {
        QueryParser.Plugin(null, out var id);

        PageTitleState.Title = id;

        if (id == null)
        {
            // todo: display error message
            NavigationManager.NavigateTo(UriBuilder.Index());
            return;
        }

        _plugin = await PluginRepository.GetPluginAsync(id);
    }

    private async Task LoadMarkdownAsync()
    {
        if (_plugin == null)
        {
            return;
        }

        _markdown = await PluginRepository.GetMarkdownAsync(_plugin!);

        if (!string.IsNullOrWhiteSpace(_markdown))
        {
            _triedLoadingMarkdown = true;
            return;
        }

        if (!string.IsNullOrWhiteSpace(_plugin.ProjectUrl) && _plugin.ProjectUrl.StartsWith("https://github.com/"))
        {
            _markdown = await GitHubRepository.GetReadmeAsync(_plugin.ProjectUrl, "main")
                ?? await GitHubRepository.GetReadmeAsync(_plugin.ProjectUrl, "master");
        }

        _triedLoadingMarkdown = true;
    }
}
